/* #para3{ */
    /*position: static;*/  /* by default */
    /* position: absolute; */
    /* position: fixed; */
    /* position: relative; */
    /* position: sticky; */
    /* left: 200px;    for sticky */
    /* top: 0px;    */
    /* left: 200px; */
/* } */
/* div{
    height: 600px;
    width: 100%;
    background-color: aqua;
} */

#first{
    height: 600px;
    width: 600px;
    background-color: aqua;
    position: relative;

}
#second{
    height: 300px;
    width: 330px;
    background-color: brown;
    position: absolute;
    
    bottom: 30px;
    left: 100px;
}